*.dart linguist-language=Dart
*.html linguist-documentation
*.md linguist-documentation
*.yaml linguist-documentation
*.yml linguist-documentation
*.json linguist-documentation
*.lock linguist-generated
assets/** linguist-vendored
